@import "/src/sassStyles/variables";

.hero {
  height: 49rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 90px;
  padding-bottom: 1rem;

  &#dark {
    h1 {
      color: $secondary-dark;

      span {
        color: $white;
      }
    }
  }

  .heroText {
    color: $primary-light;
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
    padding-left: 5rem;

    h1 {
      margin-bottom: 10px;

      span {
        color: $black;
        font-family: "Poppins";
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
    }
  }

  .canvas {
    height: 100%;
    max-width: 670px;
    width: 70%;
    padding-bottom: 3.5rem;
  }

  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 4.5rem;
    padding-left: none;
    padding-top: 220px;

    .canvas {
      margin-left: auto;
      margin-top: -160px;
    }
  }

  @media screen and (max-width: 625px) {
    .heroText {
      padding-left: 1rem;
    }

    .canvas {
      width: 100%;
      margin-top: -50px;
    }
  }

  @media screen and (max-width: 515px) {
    margin-bottom: 10.5rem;

    .heroText {
      font-size: 1.7rem;
    }
  }
}
