@import "/src/sassStyles/variables";

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 190px 0px 0px 0px;
  position: relative;

  .canvas {
    margin-top: 3rem;
    border: 3px solid $white;
    border-radius: 5px;
    height: 47rem;
    pointer-events: none;
    width: 80%;
    padding-bottom: 0;
  }

  @media screen and (max-width: 900px) {
    margin-bottom: 4.5rem;
    padding-left: none;
    padding-top: 90px;
  }

  @media screen and (max-width: 625px) {
    .canvas {
      width: 80%;
    }
  }

  @media screen and (max-width: 515px) {
    margin-bottom: 10.5rem;
  }
}
