.cardLink {
  min-height: 270px;
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  cursor: pointer;

  .cardHeader {
    font-size: 1.3rem;
  }

  img {
    border-radius: 10px;
  }
}
