@import "/src/sassStyles/variables";

.portfolio {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 1100px;

  &#dark {
    button {
      &:first-child {
        border-right: none;
      }

      &:last-child {
        border-left: none;
      }
    }

    .portfolioIntroText {
      color: $white;
    }
  }

  .portfolioIntroText {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 2rem;
  }

  .portfolioFilter {
    margin-bottom: 3.7rem;
    display: flex;
    justify-content: center;

    button {
      padding: 1rem 4rem;
      width: 250px;

      &:first-child {
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
        border-right: none;
      }

      &:last-child {
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;
        border-left: none;
      }

      &:hover,
      &.focus {
        background: linear-gradient(
          45deg,
          rgba(127, 17, 224, 0.7),
          rgba(3, 252, 248, 0.7)
        );
        box-shadow: none;
        color: $white;
      }
    }
  }

  .portfolioItems {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .portfolioCard {
      min-height: 270px;
      position: relative;
      overflow: hidden;
      margin-bottom: 24px;
      padding: 2rem;
      cursor: pointer;

      .cardText {
        // background-color: rgba(255, 255, 255, 0.3);
        border-radius: 7px;
        // color: $primary-light;
        padding: 0.5rem;
      }

      .portfolioText {
        position: relative;
      }
    }
  }

  @media screen and (max-width: 725px) {
    &#dark {
      button {
        &:first-child {
          border-right: 2px solid $secondary-dark;
        }

        &:last-child {
          border-left: 2px solid $secondary-dark;
        }
      }
    }

    .portfolioFilter {
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;

      button {
        width: 75%;

        &:first-child {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          border-right: 2px solid $primary-light;
        }

        &:last-child {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          border-left: 2px solid $primary-light;
        }
      }
    }
  }
}
