@import "/src/sassStyles/variables";

.skills {
  padding-bottom: 5rem;

  .skillWrapper {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    margin: 0 auto;
    padding: 3rem;
    width: 90%;

    &#dark {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .skillText {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
      padding: 0 1rem;

      &#dark {
        color: $white;
      }
    }

    [class="swiper"] {
      max-width: 830px;
    }

    [class="swiper-pagination"] {
      position: unset;
      width: 100px;
    }

    [class="swiper-pagination-bullets"] {
      position: relative;
      width: 100px;
    }

    // [class="swiper-wrapper"] {
    //   display: flex;
    //   justify-content: center;
    //   width: 360px;
    // }

    .skillCircle {
      text-align: center;
      width: 170px;

      h5 {
        margin-top: 1rem;
        font-family: "Roboto Mono", monospace;
        font-size: 1.2rem;
        font-weight: 500;

        &#dark {
          color: $white;
        }
      }
    }
  }
}
