@import "/src/sassStyles/variables";

.testimonials {
  overflow-x: hidden;
  padding: 2rem 0;
  text-align: center;
  background-image: url("../../assets/bluegradient.svg");
  background-size: cover;
  width: 80%;
  margin: 0 auto 7rem;
  max-width: 900px;
  border-radius: 7px;

  &#dark {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      url("../../assets/bluegradient.svg");

    h2 {
      color: $black;
    }

    .testimonialWrapper {
      background-color: $black;
      color: $white;

      .title {
        color: $secondary-dark;
      }
    }
  }

  h2 {
    color: $pure-black;
    margin-bottom: 4rem;
  }

  .testimonialWrapper {
    background-color: $white;
    border-radius: 10px;
    position: relative;
    max-width: 700px;
    margin: 0 auto;

    .testimonialInfo {
      width: 100%;
      height: 475px;
      padding: 0rem 3rem 3rem;
      border-radius: 12px;

      .image {
        margin: 0 auto;
        position: relative;
        width: 80px;
        height: 72px;

        img {
          border-radius: 50%;
          height: 80px;
          position: absolute;
          top: -20px;
          width: 80px;
        }
      }

      .name {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 0;
      }

      .title {
        color: $primary-light;
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      .description {
        font-size: 1.2rem;
        text-align: justify;
      }
    }
  }

  .arrows {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 30px;
      pointer-events: none;
    }
    .next,
    .prev {
      margin: 0 0.5rem;
      width: fit-content;
      background-color: var(--deep-dark);
      padding: 0.5rem 2rem;
      border-radius: 8px;
      cursor: pointer;
      z-index: 100;

      img {
        width: 45px;
      }
    }
  }

  @media screen and (max-width: 950px) {
    .testimonialWrapper {
      width: 90%;

      .testimonialInfo {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
      }
    }
  }

  @media screen and (max-width: 810px) {
    .testimonialWrapper .testimonialInfo {
      height: 550px;
    }
  }

  @media screen and (max-width: 720px) {
    .testimonialWrapper .testimonialInfo {
      height: 650px;
    }
  }

  @media screen and (max-width: 600px) {
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 550px) {
    .testimonialWrapper .testimonialInfo {
      height: 750px;
    }
  }

  @media screen and (max-width: 475px) {
    .testimonialWrapper .testimonialInfo {
      height: 820px;

      .description {
        font-size: 1.1rem;
      }
    }
  }

  @media screen and (max-width: 375px) {
    .testimonialWrapper .testimonialInfo {
      height: 910px;

      .description {
        font-size: 1.1rem;
      }
    }
  }
}
