@import "./sassStyles/_reset.scss";
@import "./sassStyles/_global.scss";
@import "./sassStyles/_variables.scss";

body {
  #light {
    background-color: $white;
  }

  #dark {
    background-color: $black;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

section {
  // padding-bottom: 3rem;
  padding: 0 2rem 3rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.swiper {
  max-width: 830px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills {
  .swiper-wrapper {
    margin-left: 35px;
  }

  .swiper-pagination {
    position: relative;
    margin-top: 20px;
    width: 100px;

    .swiper-pagination-bullet-active {
      background-color: $secondary-dark;
    }
  }
}
